In [ ]:
import pandas as pd

In [ ]:
#connect to google drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
melbourne_data = pd.read_csv('melb_data.csv')

In [ ]:

# print a summary of the data in Melbourne data
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count      8.000000  8.000000e+00  ...      8.000000       8.000000
mean    1700.361718  1.712072e+06  ...   1806.255662    8572.249894
std     4800.099594  2.979226e+06  ...   4757.581280    6643.530235
min        0.955748  1.358000e+04  ...      0.103916     249.000000
25%        1.750000  5.007330e+05  ...    144.805152    4379.645443
50%        2.968999  7.765000e+05  ...    144.997658    7004.708689
75%        4.750000  1.139263e+06  ...    145.175316   11143.250000
max    13580.000000  9.000000e+06  ...  13580.000000   21650.000000

[8 rows x 13 columns]

In [ ]:
melbourne_data.columns

Index(['Unnamed: 0', 'Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2',
       'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Propertycount'],
      dtype='object')

In [ ]:
melbourne_data = melbourne_data.dropna(axis=0)

In [ ]:
y = melbourne_data.Price
y.describe()

count    8.000000e+00
mean     1.712072e+06
std      2.979226e+06
min      1.358000e+04
25%      5.007330e+05
50%      7.765000e+05
75%      1.139263e+06
max      9.000000e+06
Name: Price, dtype: float64

In [ ]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [ ]:
x = melbourne_data[melbourne_features]

In [ ]:
x.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count      8.000000      8.000000       8.000000      8.000000      8.000000
mean    1700.361718   1699.278244   56551.385671   1669.157925   1806.255662
std     4800.099594   4800.537179  152183.138180   4812.725232   4757.581280
min        0.955748      0.000000       0.000000    -38.182550      0.103916
25%        1.750000      0.922928     374.250000    -37.821108    144.805152
50%        2.968999      1.267121     604.708063    -37.779377    144.997658
75%        4.750000      3.500000    6388.001931    -28.036582    145.175316
max    13580.000000  13580.000000  433014.000000  13580.000000  13580.000000

In [ ]:
x.head()

          Rooms      Bathroom      Landsize     Lattitude    Longtitude
0  13580.000000  13580.000000  13580.000000  13580.000000  13580.000000
1      2.937997      1.534242    558.416127    -37.809203    144.995216
2      0.955748      0.691712   3990.669241      0.079260      0.103916
3      1.000000      0.000000      0.000000    -38.182550    144.431810
4      2.000000      1.000000    177.000000    -37.856822    144.929600

In [ ]:
x.tail()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
3    1.0       0.0       0.0 -38.182550  144.431810
4    2.0       1.0     177.0 -37.856822  144.929600
5    3.0       1.0     440.0 -37.802355  145.000100
6    3.0       2.0     651.0 -37.756400  145.058305
7   10.0       8.0  433014.0 -37.408530  145.526350

3. Building The Model

In [ ]:
from sklearn.tree import DecisionTreeRegressor

melbourne_model = DecisionTreeRegressor(random_state=1)

In [ ]:
melbourne_model.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
print("Making prediction for the following 5 house:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making prediction for the following 5 house:
          Rooms      Bathroom      Landsize     Lattitude    Longtitude
0  13580.000000  13580.000000  13580.000000  13580.000000  13580.000000
1      2.937997      1.534242    558.416127    -37.809203    144.995216
2      0.955748      0.691712   3990.669241      0.079260      0.103916
3      1.000000      0.000000      0.000000    -38.182550    144.431810
4      2.000000      1.000000    177.000000    -37.856822    144.929600
The predictions are
[  13580.  1075684.   639310.7   85000.   650000. ]

4. Model Validation

In [ ]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

0.0

In [ ]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [ ]:
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_x, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

132502.65000000002

5. Underfitting and Overfitting

In [ ]:
# use a utility function to help compare MAE scores from different values for max_leaf_nodes:

from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)